
*{
    margin: 0; padding: 0;
}
a{
    text-decoration:none;
}
li{
    list-style:none;
}
img{
    vertical-align:middle;border:none;
}

body{
    background:url("../img/background.png");
}

/*----------------安全区  safe--------------------*/
.safe{
    width:1090px;margin:0 auto;
    }


/*----------------头部header--------------------*/
header{
    background-color: #011e47;
    height: 30px;width: 100%;
}
header p{
    font-size: 11px;
    color: #7f93a9;
    line-height: 30px;
    float: left;
}
header ul{
    float: right;
    position: relative;
}
header ul li{
    float:left;
    color: #7f93a9;
}
header ul li a{
    font-size: 11px; 
    line-height: 30px;
    padding-left: 9px;
    padding-right: 10px;
    color: #7f93a9;
}

header ul li div{
    display: none;
    width: 90px;
    height: 30px;
    position: absolute;
}
header ul li div a{
    display: block;
    text-align: center;
    background: #001a38;
    border:1px solid #374254;
}
header ul li div a:hover{
    color: #ffffff;
}
header ul li:hover div{
    display: block;
}

header ul li span{
    font-size: 14px;
}
header ul li strong{
    margin-right:10px;
}






/*----------------搜索  search--------------------*/
.search{
    height: 150px;
     line-height: 150px;
}
.search .tu{
    float: left;
   
}
.search .sou{
    float: right;
}
.search .sou input{
    width: 270px;
    border: none;
    border-bottom: 1px solid #33669b;
    color:  #33669b;                               /*问题，此处应用placeholder，默认字体颜色不生效*/
    padding-left:5px ;
    background:none;
    outline: none;
}
.search .sou .gou{margin-left: 20px;}



/*----------------导航nav--------------------*/
nav{
    height: 40px;
    background-color: #002146;
    position: relative;
}
nav .yiji li{
    float: left;
    margin-right: 79px;
      line-height: 40px;
}
nav .yiji li a{
    font-size: 13px;
    color: #cfd2d7;
    padding-bottom: 5px;
    font-weight: bold;
}
nav .yiji li a:hover{
    color: #00aeff;
    border-bottom: 1px solid #00aeff;
}
nav .yiji li div{
    display: none;
    position: absolute;
    left: 0;
    background-color: #0b1524;
    opacity: 0.8;
    width: 100%;
    z-index: 1;
}
nav .yiji li div ul{
  width: 1064px;
  overflow: hidden;
   margin-left: 200px;
   margin-top: 33px;
}
nav .yiji li div ul li{
    margin-right: 98px;
    text-align: center;
    margin-bottom: 23px;
}
nav .yiji li div ul li img{
    width: 34px;
    height: 34px;
}
nav .yiji li div ul li p{
    font-size: 12px;
    color: #cfd2d7;
    font-weight: bold;
}
nav .yiji li div ul li p:hover{
    color: #00aeff;
}
nav .yiji li:hover div{
    display: block;
}


/*----------------banner图--------------------*/
.banner{
    height: 420px;
    position: relative;
}
.banner div{
    position: absolute;
    width: 100%;
    height: 420px;
    background: url("http://dmall-mc.nosdn.127.net/1920-540.jpg30b63c39-f52c-4690-922d-1f469fdff766")no-repeat 50% 0;
}



/*----------------列表list--------------------*/
.list{
    overflow: hidden;
}
.list ul{
    margin-top: 50px;
}
.list ul li{
    float: left;
    width: 130px;
    height: 80px;
    background-color: #012a60;
    text-align: center;
    margin-right: 5px;
    position: relative;
}
.list ul li img{
    height: 48px;
    margin-top: 16px;
}
.list ul li div{
    display: none;
    width: 130px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: rgba(0,17,37,.8);
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
}
.list ul li:hover div{
    display: block;
}



/*----------------人气热销 hot--------------------*/
.hot{
    margin-top: 60px;
    overflow: hidden;

}

.hot .title{
   
    background: url("../img/index.png")no-repeat 0 0;
    padding: 0;
    font-size: 30px;
    color: #ffffff;
    padding-left: 48px;
    margin-bottom: 34px;
}

.left-main{
    float: left;
    position: relative;
    width: 325px;
    height: 370px;
    margin-right: 11px;
}
.left{
   
    line-height:370px;
    display: none;
    text-align: center;
    background:rgba(0,0,0,.8);
    color:#fff;
    width: 100%;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
}
.right-main1{
    float: left;
    position: relative;
    width: 370px;
    height:180px;
    margin-bottom: 9px;
    margin-right: 11px;
}
.right-main2{
    float: left;
    position: relative;
    width: 370px;
    height:180px;
    margin-bottom: 9px;
}
.right-main3{
    float: left;
    position: relative;
    width: 370px;
    height:180px;
    margin-right: 11px;
}
.right-main4{
    float: left;
    position: relative;
    width: 370px;
    height:180px;
}
.other{
    line-height:180px;
    display: none;
    text-align: center;
    background:rgba(0,0,0,.8);
    color:#fff;
    width: 100%;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
}

.left-main:hover .left{
    display: block;
/* 
transition:2s; */                                 /*遗留问题，没有设置字体向上走*/
}
.right-main1:hover .other,.right-main2:hover .other,.right-main3:hover .other,.right-main4:hover .other{
    display: block;
}



/*----------------最新周边 news--------------------*/
.news{
  
    margin-top: 60px;
    position: relative;
//    overflow: hidden;
//    width: 1200px;
    height: 425px;
}
.news .btns span{
    position: absolute;
    display: inline-block;
    width: 41px;
    height: 49px;
    border-radius: 5px;
    top: 225px;
    font-size: 28px;
    float: left;
}
.news .btns span.prev{
    background: url("../img/left.png")no-repeat 0 0;
    left: -50px;
}
.news .btns span.next{
    background: url("../img/right.png")no-repeat 0 0;
    right: -50px;
}

.news .newstitle{
   
    background: url("../img/index1.png")no-repeat 0 0;
    padding: 0;
    font-size: 30px;
    color: #ffffff;
    padding-left: 48px;
    margin-bottom: 34px;
}
.news .mainBox{
    position: relative;
    width: 1090px;
    height: 354px;
    overflow: hidden;
}
.news .newListAll{
    position: absolute;
    width: 10000px;
    height: 354px;
}

.news .newListAll a{
    position: relative;
    display: block;
    float: left;
    margin-right: 15px;
    width: 260px;
    height: 360px;
    text-align: center;
    color: #00aeff;
}
.news .newListAll a .img{
    height: 100%;
}
.news .newListAll a .icon{
    position: absolute;
    left: 25px;
    bottom: 110px;
    height: 30px;
}
.news .newListAll a .name{
    color:#fff;
    bottom: 80px;
    font-size: 14px;
    position: absolute;
    left: 0;
    text-align: left;
    padding: 0 25px;
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.news .newListAll a .desc{
    color:#ff8602;
    font-size: 12px;
    bottom: 55px;
    position: absolute;
    left: 0;
    text-align: left;
    padding: 0 25px;
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.news .newListAll a .price{
    color:
#fff;
font-size: 12px;
bottom: 30px;
position: absolute;
left: 0;
text-align: left;
padding: 0 25px;
display: inline-block;
float: left;
margin-right: 15px;
}


/*----------------居家生活 life--------------------*/
.life{
    margin-top: 60px;
    height: 755px;
}
.life1{
    position: relative;
}
.life .btns1 span{
    position: absolute;
    display: inline-block;
    width: 41px;
    height: 49px;
    border-radius: 5px;
    top: 540px;
    font-size: 28px;
    float: left;
}
.life .prev1{
    background: url("../img/left.png")no-repeat 0 0;
    left: -50px;
}
.life .next1{
    background: url("../img/right.png")no-repeat 0 0;
    right: -50px;
}
.life .lifeTitle .title{
    float: left;
    background: url("../img/lifetitle.png")no-repeat 0 0;
    padding: 0;
    font-size: 30px;
    color: #ffffff;
    padding-left: 48px;
    margin-bottom: 34px;
}
.life .lifeTitle ul{
    margin-left: 290px;
    float: left;
    margin-top: 8px;
}
.life .lifeTitle ul li{
    float: left;
}
.life .lifeTitle ul li a{
    font-size: 12px;
    color: #738d9e;
}
.life .lifeTitle ul li i{
    font-size: 12px;
    color: #738d9e;
    margin: 0 10px;
}
.life .lifeTitle .more{
    float: right;
    font-size: 12px;
    color: #00aeff;
    margin-top: 8px;

}
.life .lifeImg{
    float: left;
    width: 1090px;
    height: 309px;
    margin-top: 34px;
}
.life .lifeImg img{
    width: 1090px;
    height:  309px;
}

.life .lifeBox{
    float: left;
    width: 1090px;
    height: 356px;
    overflow: hidden;
    margin-top: 24px;
}
.life .lifeListAll{
    width: 10000px;
    height: 356px;
}
.life .lifeListAll li{
    float: left;
    margin-right: 15px;
    width: 260px;
    height: 356px;
    text-align: center;
}
.life .lifeListAll li .img{
    width: 260px;
    height: 258px;
    background-color: rgba(74,93,127,.3);

}
.life .lifeListAll li .img img{
    width: 230px;
    height: 230px;
}
.life .lifeListAll li .desc{
    margin-top: 25px;
    font-size: 13px;
    color: #acacac;
}
.life .lifeListAll li .price{
    margin-top: 17px;
    font-size: 13px;
    color: #00aeff;
}


/*----------------手办模型   model--------------------*/
.model{
    margin-top: 100px;
    height: 755px;
}
.model1{
    position: relative;
}
.model .btns1 span{
    position: absolute;
    display: inline-block;
    width: 41px;
    height: 49px;
    border-radius: 5px;
    top: 540px;
    font-size: 28px;
    float: left;
}
.model .prev1{
    background: url("../img/left.png")no-repeat 0 0;
    left: -50px;
}
.model .next1{
    background: url("../img/right.png")no-repeat 0 0;
    right: -50px;
}
.model .modelTitle .title{
    float: left;
    background: url("../img/modeltitle.png")no-repeat 0 0;
    padding: 0;
    font-size: 30px;
    color: #ffffff;
    padding-left: 48px;
    margin-bottom: 34px;
}
.model .modelTitle ul{
    margin-left: 290px;
    float: left;
    margin-top: 8px;
}
.model .modelTitle ul li{
    float: left;
}
.model .modelTitle ul li a{
    font-size: 12px;
    color: #738d9e;
}
.model .modelTitle ul li i{
    font-size: 12px;
    color: #738d9e;
    margin: 0 10px;
}
.model .modelTitle .more{
    float: right;
    font-size: 12px;
    color: #00aeff;
    margin-top: 8px;

}
.model .modelImg{
    float: left;
    width: 1090px;
    height: 309px;
    margin-top: 34px;
}
.model .modelImg img{
    width: 1090px;
    height:  309px;
}

.model .modelBox{
    float: left;
    width: 1090px;
    height: 356px;
    overflow: hidden;
    margin-top: 24px;
}
.model .modelListAll{
    width: 10000px;
    height: 356px;
}
.model .modelListAll li{
    float: left;
    margin-right: 15px;
    width: 260px;
    height: 356px;
    text-align: center;
}
.model .modelListAll li .img{
    width: 260px;
    height: 258px;
    background-color: rgba(74,93,127,.3);

}
.model .modelListAll li .img img{
    width: 230px;
    height: 230px;
}
.model .modelListAll li .desc{
    margin-top: 25px;
    font-size: 13px;
    color: #acacac;
}
.model .modelListAll li .price{
    margin-top: 17px;
    font-size: 13px;
    color: #00aeff;
}



/*----------------数码外设--------------------*/
.shuma,
.pei{
    margin-top: 100px;
    height: 755px;
    // margin-bottom: 60px;
}
.shuma1,
.pei1{
    position: relative;
}
.shuma .btns1 span,
.pei .btns1 span{
    position: absolute;
    display: inline-block;
    width: 41px;
    height: 49px;
    border-radius: 5px;
    top: 540px;
    font-size: 28px;
    float: left;
}
.shuma .prev1,
.pei .prev1{
    background: url("../img/left.png")no-repeat 0 0;
    left: -50px;
}
.shuma .next1,
.pei .next1{
    background: url("../img/right.png")no-repeat 0 0;
    right: -50px;
}
.shuma .shumaTitle .title{
    float: left;
    background: url("../img/shumatitle.png")no-repeat 0 0;
    padding: 0;
    font-size: 30px;
    color: #ffffff;
    padding-left: 48px;
    margin-bottom: 34px;
}
.pei .peiTitle .title{
    float: left;
    background: url("../img/peititle.png")no-repeat 0 0;
    padding: 0;
    font-size: 30px;
    color: #ffffff;
    padding-left: 48px;
    margin-bottom: 34px;
}
.shuma .shumaTitle ul,
.pei .peiTitle ul
{
    margin-left: 290px;
    float: left;
    margin-top: 8px;
}
.shuma .shumaTitle ul li,
.pei .peiTitle ul li
{
    float: left;
}
.shuma .shumaTitle ul li a,
.pei .peiTitle ul li a{
    font-size: 12px;
    color: #738d9e;
}
.shuma .shumaTitle ul li i,
.pei .peiTitle ul li i{
    font-size: 12px;
    color: #738d9e;
    margin: 0 10px;
}
.shuma .shumaTitle .more,
.pei .peiTitle .more{
    float: right;
    font-size: 12px;
    color: #00aeff;
    margin-top: 8px;

}
.shuma .shumaImg,
.pei .peiImg{
    float: left;
    width: 1090px;
    height: 309px;
    margin-top: 34px;
}
.shuma .shumaImg img,
.pei .peiImg img{
    width: 1090px;
    height:  309px;
}

.shuma .shumaBox,
.pei .peiBox{
    float: left;
    width: 1090px;
    height: 356px;
    overflow: hidden;
    margin-top: 24px;
}
.shuma .shumaListAll,
.pei .peiListAll{
    width: 10000px;
    height: 356px;
}
.shuma .shumaListAll li,
.pei .peiListAll li{
    float: left;
    margin-right: 15px;
    width: 260px;
    height: 356px;
    text-align: center;
}
.shuma .shumaListAll li .img,
.pei .peiListAll li .img{
    width: 260px;
    height: 258px;
    background-color: rgba(74,93,127,.3);

}
.shuma .shumaListAll li .img img,
.pei .peiListAll li .img img{
    width: 230px;
    height: 230px;
}
.shuma .shumaListAll li .desc,
.pei .peiListAll li .desc{
    margin-top: 25px;
    font-size: 13px;
    color: #acacac;
}
.shuma .shumaListAll li .price,
.pei .peiListAll li .price{
    margin-top: 17px;
    font-size: 13px;
    color: #00aeff;
}



/*----------------底部 服务-------------------*/
.fuwu{
    // margin-top: 121px;
    overflow:hidden;
    height: 325px;
    margin-top: 150px;
    
}
.fuwu1{
    border-top:1px solid #244669;
}
.fuwu1 ul{
    margin-top: 63px;
}
.fuwu1 ul li{
    text-align: center;
    float: left;
    height: 200px;
    // background-color: #33669b;
}
.fuwu1 ul .li1{
    padding: 0 94px;
    border-right:1px solid #244669 ;
}
.fuwu1 ul .li1 h3{
    margin-top: 24px;
    font-size: 12px;
    color: #767676;
    margin-bottom: 48px;
}
.fuwu1 ul .li1 .fuwu2 div{
    float: left;
    font-size: 11px;
    color: #767676;
}
.fuwu1 ul .li1 .fuwu2 div:nth-of-type(1){
    margin-right: 53px;
}
.fuwu1 ul .li1 .fuwu2 div img{
    margin-bottom: 10px;
}

.fuwu1 ul .li2{
    padding-left: 60px;
    padding-right: 67px;
    border-right:1px solid #244669 ;
}
.fuwu1 ul .li2 h3{
    margin-top: 24px;
    font-size: 12px;
    color: #767676;
    margin-bottom: 26px;
}
.fuwu1 ul .li2 p{
    width: 252px;
    font-size: 11px;
    color: #767676;
    line-height: 16px;
    margin-bottom: 32px;
}
.fuwu1 ul .li2 div{
    font-size: 11px;
    color: #767676;
}
.fuwu1 ul .li2 div img{
    height: 20px;
}
.fuwu1 ul .li2 div img:nth-of-type(1){
    margin-left: 22px;
    margin-right: 8px;
}
.fuwu1 ul .li3{
    padding-left: 50px;
}
.fuwu1 ul .li3 div{
    margin-top: 50px;
}
.fuwu1 ul .li3 div img:nth-of-type(1){
    margin-right: 33px;
}

/*---------------底部 友情链接--------------------*/
.foot{
    overflow: hidden;
    height: 300px;
    background-color: #1a1a1a;
}
.foot1 .miaoshu{
    margin: 80px 0 28px 75px;
    overflow: hidden;
}
.foot1 .miaoshu li{
    float: left;
    line-height: 50px;
    font-size: 15px;
    color: #ffffff;
    margin-right: 80px;

}
.foot1 .miaoshu li img{
    height: 50px;
    // float: left;
    margin-right: 29px;
}


.foot1 .lianjie{
    text-align: center;
    border-top: 1px solid #2c2c2c;
}
.foot1 .lianjie ul:nth-of-type(1){
    margin-top: 16px;
    margin-left: 203px;
}
.foot1 .lianjie ul:nth-of-type(2){
    float: left;
    margin-top: 26px;
    margin-left: 102px;
}
.foot1 .lianjie ul:nth-of-type(1) li,.foot1 .lianjie ul:nth-of-type(2) li{
    float: left;
}
.foot1 .lianjie ul:nth-of-type(1) li a,.foot1 .lianjie ul:nth-of-type(1) li span,.foot1 .lianjie ul:nth-of-type(2) li a,.foot1 .lianjie ul:nth-of-type(2) li span{
    font-size: 11px;
    color: #a6a6a6;
}
.foot1 .lianjie ul:nth-of-type(1) li span,.foot1 .lianjie ul:nth-of-type(2) li span{
    margin-left: 20px;
    margin-right: 19px;
}





