*{
    margin: 0; padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.safe{
    width:1090px;margin:0 auto;
    }
    
.header{
    height: 650px;
    background: url("../img/background2.jpg");
    position: relative;
}
.header .inp{
    text-align: center;
    width: 365px;
    height: 333px;
    background-color: #ffffff;
    border-radius: 8px;
    position: absolute;
    right: 54px;
    top: 130px;
}
.header .inp h3{
    margin-top: 28px;
    margin-bottom: 33px;
    font-size: 16px;
}
#username,#psw{
    width: 266px;
    height: 30px;
    margin-bottom: 16px;
    line-height: 30px;
    padding-left:44px ;
}
#username{
    background: url("../img/background4.gif") no-repeat 10px 6px ;
}
#psw{
    background: url("../img/background5.gif") no-repeat 10px 6px ;
}
.header .inp p{
    margin-bottom: 34px;
    font-size: 11px;
    text-align: left;
    margin-left: 25px;
}
.header .inp p a{
    color:#4aafe9;
}
#loginBtn{
    width: 312px;
    height: 44px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #00aeff;
    margin-bottom: 20px;
}
.forget{
    width: 266px;
    margin: 0 auto;
}
.forget a{
    font-size: 12px;
    color: #00aeff;
    display: inline-block;
}
.forget a:nth-of-type(1){
    float: left;
}
.forget a:nth-of-type(2){
    float: right;
}


.foot{
    overflow: hidden;
    height: 300px;
    background-color: #1a1a1a;
}
.foot1 .miaoshu{
    margin: 80px 0 28px 75px;
    overflow: hidden;
}
.foot1 .miaoshu li{
    float: left;
    line-height: 50px;
    font-size: 15px;
    color: #ffffff;
    margin-right: 80px;

}
.foot1 .miaoshu li img{
    height: 50px;
    // float: left;
    margin-right: 29px;
}


.foot1 .lianjie{
    text-align: center;
    border-top: 1px solid #2c2c2c;
}
.foot1 .lianjie ul:nth-of-type(1){
    margin-top: 16px;
    margin-left: 203px;
}
.foot1 .lianjie ul:nth-of-type(2){
    float: left;
    margin-top: 26px;
    margin-left: 102px;
}
.foot1 .lianjie ul:nth-of-type(1) li,.foot1 .lianjie ul:nth-of-type(2) li{
    float: left;
}
.foot1 .lianjie ul:nth-of-type(1) li a,.foot1 .lianjie ul:nth-of-type(1) li span,.foot1 .lianjie ul:nth-of-type(2) li a,.foot1 .lianjie ul:nth-of-type(2) li span{
    font-size: 11px;
    color: #a6a6a6;
}
.foot1 .lianjie ul:nth-of-type(1) li span,.foot1 .lianjie ul:nth-of-type(2) li span{
    margin-left: 20px;
    margin-right: 19px;
}













